<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Pernilongo API</title>
</head>
<body>
  <h1>Pernilongo API</h1>
  <h2>Nesta página está documentada a API para interação com o broker Pernilongo e base de dados</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut augue eget lorem tempus ultrices et quis arcu. Nulla facilisi. Nam rutrum pellentesque erat congue mattis. Ut cursus justo finibus, volutpat risus ut, faucibus sapien. Nam gravida ut neque ac consequat. Quisque lacus felis, feugiat eu lacinia at, consectetur id turpis. In in interdum lacus, vitae gravida urna. Fusce eleifend, leo a volutpat gravida, nisi urna finibus nibh, eget varius leo dolor vitae ligula. Praesent fringilla augue felis, nec cursus nisl sodales nec. Nulla id sem faucibus, convallis nibh et, feugiat nunc. Nulla leo metus, cursus sit amet tellus id, dictum malesuada dui. Curabitur dignissim eget lacus quis iaculis. Maecenas vel venenatis augue. Ut et risus nisl. Nulla et odio neque. Vivamus est leo, posuere vel imperdiet quis, tempus sit amet urna.</p>
  <p>Proin mauris turpis, sodales in urna sed, posuere efficitur erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam dignissim non risus a commodo. Pellentesque luctus lorem in neque eleifend, at volutpat dui maximus. Nulla sapien dolor, consequat at felis id, pulvinar luctus justo. Donec vel ligula et sem tempor varius. Fusce fringilla est vitae tellus molestie tincidunt. Donec quis nibh a lorem interdum consequat. Proin vel fermentum diam. Integer imperdiet maximus vestibulum. Aliquam nibh lectus, viverra et justo vel, malesuada aliquet justo.</p>
  <p class="code">const express = require('express');</p>
  <p>Ut augue metus, luctus sit amet metus ut, aliquet consectetur enim. Curabitur eget urna mattis, faucibus magna nec, mollis est. Suspendisse interdum orci massa, eget dictum lectus posuere ut. Proin a rutrum massa. Donec eu libero et tortor mollis malesuada. Maecenas rhoncus facilisis erat, in sollicitudin sapien tincidunt pretium. Praesent laoreet tempus risus at bibendum. Suspendisse a justo arcu. Phasellus nec est dignissim, elementum ipsum non, bibendum mauris. Phasellus pharetra lectus non venenatis feugiat. Vestibulum et rutrum ante, quis consectetur velit.</p>
  <ul>
    <li>
      Nunc elementum ipsum non quam faucibus, et fermentum felis fermentum.
    </li>
    <li>
      Fusce quis velit vitae nunc blandit viverra.
    </li>
    <li>
      Sed dictum est ut ipsum rhoncus, sed finibus urna pellentesque.
    </li>
    <li>
      In accumsan velit non ultricies mattis.
    </li>
    <li>
      Etiam et felis tristique, tincidunt massa et, faucibus orci.
    </li>
  </ul>
  <p>Donec id nisl elit. Quisque egestas scelerisque dolor sit amet dignissim. Donec porta sodales sollicitudin. Mauris pellentesque, justo ac vulputate maximus, nunc nunc ornare tortor, quis hendrerit felis orci ac enim. Sed ornare, nulla id condimentum molestie, lacus dolor egestas orci, et hendrerit enim urna id metus. Integer ornare tincidunt aliquam. Donec eu laoreet augue. Proin sed nisi sit amet urna suscipit suscipit. Aliquam blandit imperdiet lectus nec pellentesque. Nulla arcu metus, rutrum in diam et, commodo cursus libero. Sed varius pellentesque nunc vel laoreet. Cras ut risus id elit iaculis congue vel id quam.</p>
</body>
</html>