<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <title>Pernilongo API</title>
</head>
<body>
  <h1>Pernilongo API</h1>
  <h2>Estrutura geral</h2>
  <p>A API Pernilongo é usada para interfacear a interação da aplicação Front-End e do broker MQTT com o banco de dados MongoDB. Trata-se de uma aplicação Node.js com Express, que utiliza o <em>Mongoose</em> como adaptador do MongoDB.</p>
  <h2><em>Endpoints</em></h2>

  <h3>Todos os tópicos</h3> <!-- ROTAS -->
  <article>
    <h4>Obter publicações em todos os tópicos</h4>
    <p>Método: <strong class="get">GET</strong></p>
    <p>URL: <strong class="url">/api/pubs</strong></p>
    <p>Body: <em>Vazio.</em></p>
    <p>Resposta: <em>Um objeto contendo um vetor para cada tópico.</em></p>
    <pre class="code">
      <code>
{
  <span class="key">"current"</span>: [
    {
      <span class="key">"payload"</span>: {
        <span class="key">"message"</span>: <span class="bol">2</span>,
        <span class="key">"time"</span>: <span class="val">"2023-06-15T01:27:36.195Z"</span>
      },
      <span class="key">"_id"</span>: <span class="val">"648a690928b46f2b7511281b"</span>,
      <span class="key">"topic"</span>: <span class="val">"/motor/current"</span>,
      <span class="key">"qos"</span>: <span class="bol">0</span>,
      <span class="key">"retain"</span>: <span class="bol">false</span>,
      <span class="key">"_msgid"</span>: <span class="val">"99321c66ca9084c0"</span>,
      <span class="key">"__v"</span>: <span class="bol">0</span>
    },
    {
      <span class="key">"payload"</span>: {
        <span class="key">message"</span>: <span class="bol">2</span>,
        <span class="key">"time"</span>: <span class="val">"2023-06-15T01:28:01.365Z"</span>
      },
      <span class="key">"_ id"</span>: <span class="val">"648a6921de0d30cd70395159"</span>,
      <span class="key">"topic"</span>: <span class="val">"/motor/current"</span>,
      <span class="key">"qos"</span>: <span class="bol">0</span>,
      <span class="key">"retain"</span>: <span class="bol">false</span>,
      <span class="key">"_msgid"</span>: <span class="val">"caaff3e431ad5145"</span>,
      <span class="key">"__v"</span>: <span class="bol">0</span>
    },
    <span class="muted">...</span>
  ],
  <span class="key">"speed"</span>: [ <span class="muted">...</span> ],
  <span class="key">"state"</span>: [ <span class="muted">...</span> ],
  <span class="key">"temperature"</span>: [ <span class="muted">...</span> ],
  <span class="key">"tension"</span>: [ <span class="muted">...</span> ],
  <span class="key">"warning"</span>: [ <span class="muted">...</span> ]
}
      </code>
    </pre>
  </article>
  
  <h3>Único Tópico</h3> <!-- TÓPICO -->
  <article>
    <h4>Obter publicações de um tópico específico</h4>
    <p>Método: <strong class="get">GET</strong></p>
    <p>URL: <strong class="url">/api/pubs/:topic</strong></p>
    <p>Body: <em>Vazio.</em></p>
    <p>Resposta: <em>Um vetor com as publicações no tópico.</em></p>
    <pre class="code">
      <code>
[
  {
    <span class="key">"payload"</span>: {
      <span class="key">"message"</span>: <span class="bol">2</span>,
      <span class="key">"time"</span>: <span class="val">"2023-06-15T01:27:36.195Z"</span>
    },
    <span class="key">"_id"</span>: <span class="val">"648a690928b46f2b7511281b"</span>,
    <span class="key">"topic"</span>: <span class="val">"/motor/current"</span>,
    <span class="key">"qos"</span>: <span class="bol">0</span>,
    <span class="key">"retain"</span>: <span class="bol">false</span>,
    <span class="key">"_msgid"</span>: <span class="val">"99321c66ca9084c0"</span>,
    <span class="key">"__v"</span>: <span class="bol">0</span>
  },
  {
    <span class="key">"payload"</span>: {
      <span class="key">message"</span>: <span class="bol">2</span>,
      <span class="key">"time"</span>: <span class="val">"2023-06-15T01:28:01.365Z"</span>
    },
    <span class="key">"_ id"</span>: <span class="val">"648a6921de0d30cd70395159"</span>,
    <span class="key">"topic"</span>: <span class="val">"/motor/current"</span>,
    <span class="key">"qos"</span>: <span class="bol">0</span>,
    <span class="key">"retain"</span>: <span class="bol">false</span>,
    <span class="key">"_msgid"</span>: <span class="val">"caaff3e431ad5145"</span>,
    <span class="key">"__v"</span>: <span class="bol">0</span>
  }
]
      </code>
    </pre>
  </article>

  <article>
    <h4>Criar nova uma publicação em um tópico específico</h4>
    <p>Método: <strong class="post">POST</strong></p>
    <p>URL: <strong class="url">/api/pubs/:topic</strong></p>
    <p>Body: <em>É necessário passar um objeto (JSON) contendo a publicação como no exemplo a seguir.</em></p>
    <pre class="code">
      <code>
{
  <span class="key">"payload"</span>: {
    <span class="key">"message"</span>: <span class="bol">2</span>,
    <span class="key">"time"</span>: <span class="val">"2023-06-15T01:27:36.195Z"</span>
  },
  <span class="key">"topic"</span>: <span class="val">"/motor/current"</span>,
  <span class="key">"qos"</span>: <span class="bol">0</span>,
  <span class="key">"retain"</span>: <span class="bol">false</span>,
  <span class="key">"_msgid"</span>: <span class="val">"99321c66ca9084c0"</span>,
},
      </code>
    </pre>
    <p>Resposta: <em>Como confirmação, a API retorna o objeto salvo com adição dos campos <samp>"_id"</samp> e <samp>"__v"</samp>, adicionados automaticamente pelo MongoDB.</em></p>
    <pre class="code">
      <code>
{
  <span class="key">"payload"</span>: {
    <span class="key">"message"</span>: <span class="bol">2</span>,
    <span class="key">"time"</span>: <span class="val">"2023-06-15T01:27:36.195Z"</span>
  },
  <span class="key">"_id"</span>: <span class="val">"648a690928b46f2b7511281b"</span>,
  <span class="key">"topic"</span>: <span class="val">"/motor/current"</span>,
  <span class="key">"qos"</span>: <span class="bol">0</span>,
  <span class="key">"retain"</span>: <span class="bol">false</span>,
  <span class="key">"_msgid"</span>: <span class="val">"99321c66ca9084c0"</span>,
  <span class="key">"__v"</span>: <span class="bol">0</span>
},
      </code>
    </pre>
  </article>
</body>
</html>