<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <title>Pernilongo API</title>
</head>
<body>
  <h1>Pernilongo API</h1>
  <h2>Estrutura geral</h2>
  <p>A API Pernilongo é usada para interfacear a interação da aplicação Front-End e do broker MQTT com o banco de dados MongoDB. Trata-se de uma aplicação Node.js com Express, que utiliza o <em>Mongoose</em> como adaptador do MongoDB.</p>
  <h2><em>Endpoints</em></h2>

  <h3>Geral</h3><!-- GERAL -->
  <article>
    <h4>Obter publicações em todos os tópicos</h4>
    <p>Método: <strong class="get">GET</strong></p>
    <p>URL: <strong class="url">/api/pubs/all</strong></p>
    <p>Body: <em>Vazio.</em></p>
    <p>Resposta: <em>Um objeto contendo um vetor para cada tópico.</em></p>
    <div class="code">
      <div>{</div>
      <div class="tab-1"><span class="key">"state"</span>: [</div>

      <div class="tab-2">{</div>
      <div class="tab-3"><span class="key">"topic"</span>: <span class="value">"/motor/state"</span>,</div>
      <div class="tab-3"><span class="key">"payload"</span>: {</div>  
      <div class="tab-4"><span class="key">"message"</span>: <span class="boolean">true</span>,</div>
      <div class="tab-4"><span class="key">"time"</span>: <span class="value">"1686199584568"</span></div>
      <div class="tab-3">},</div>
      <div class="tab-3"><span class="key">"qos"</span>: <span class="boolean">0</span>,</div>
      <div class="tab-3"><span class="key">"retain"</span>: <span class="boolean">true</span>,</div>
      <div class="tab-3"><span class="key">"_msgid"</span>: <span class="value">"dadasdiudb98eg217bd128meuid"</span></div>
      <div class="tab-2">},</div>
      <div class="tab-2"><span class="muted">...</span></div>
      
      <div class="tab-1">],</div>
      <div class="tab-1"><span class="key">"speed"</span>: [ <span class="muted">...</span> ],</div>
      <div class="tab-1"><span class="key">"current"</span>: [ <span class="muted">...</span> ],</div>
      <div class="tab-1"><span class="key">"tension"</span>: [ <span class="muted">...</span> ],</div>
      <div class="tab-1"><span class="key">"temperature"</span>: [ <span class="muted">...</span> ],</div>
      <div class="tab-1"><span class="key">"warning"</span>: [ <span class="muted">...</span> ]</div>
      <div>}</div>
    </div>
  </article>
  
  <h3>Estado</h3><!-- ESTADO -->
  <article>
    <h4>Obter publicações no tópico Estado</h4>
    <p>Método: <strong class="get">GET</strong></p>
    <p>URL: <strong class="url">/api/pubs/state</strong></p>
    <p>Body: <em>Vazio.</em></p>
    <p>Resposta: <em>Um vetor com as publicações no tópico.</em></p>
    <div class="code">
      <div>[</div>
      <div class="tab-1">{</div>
      <div class="tab-2"><span class="key">"topic"</span>: <span class="value">"/motor/state"</span>,</div>
      <div class="tab-2"><span class="key">"payload"</span>: {</div>  
      <div class="tab-3"><span class="key">"message"</span>: <span class="boolean">false</span>,</div>
      <div class="tab-3"><span class="key">"time"</span>: <span class="value">"1686199584568"</span></div>
      <div class="tab-2">},</div>
      <div class="tab-2"><span class="key">"qos"</span>: <span class="boolean">0</span>,</div>
      <div class="tab-2"><span class="key">"retain"</span>: <span class="boolean">true</span>,</div>
      <div class="tab-2"><span class="key">"_msgid"</span>: <span class="value">"dadasdiudb98eg217bd128meuid"</span></div>
      <div class="tab-1">},</div>
      <div class="tab-1"><span class="muted">...</span></div>
      <div>]</div>
    </div>
  </article>
  <article>
    <h4>Criar nova uma publicação no tópico Estado</h4>
    <p>Método: <strong class="post">POST</strong></p>
    <p>URL: <strong class="url">/api/pubs/state</strong></p>
    <p>Body: <em>É necessário passar um objeto (JSON) contendo a publicação como no exemplo a seguir.</em></p>
    <div class="code">
      <div>{</div>
      <div class="tab-1"><span class="key">"topic"</span>: <span class="value">"/motor/state"</span>,</div>
      <div class="tab-1"><span class="key">"payload"</span>: {</div>  
      <div class="tab-2"><span class="key">"message"</span>: <span class="boolean">false</span>,</div>
      <div class="tab-2"><span class="key">"time"</span>: <span class="value">"1686199584568"</span></div>
      <div class="tab-1">},</div>
      <div class="tab-1"><span class="key">"qos"</span>: <span class="boolean">0</span>,</div>
      <div class="tab-1"><span class="key">"retain"</span>: <span class="boolean">true</span>,</div>
      <div class="tab-1"><span class="key">"_msgid"</span>: <span class="value">"dadasdiudb98eg217bd128meuid"</span></div>
      <div>}</div>
    </div>
    <p>Resposta: <em>Como confirmação a API retornará o objeto salvo com adição dos campos <span class="mono">"_id"</span> e <span class="mono">"__v"</span>, adicionados pelo MongoDB.</em></p>
    <div class="code">
      <div>{</div>
      <div class="tab-1"><span class="key">"topic"</span>: <span class="value">"/motor/state"</span>,</div>
      <div class="tab-1"><span class="key">"payload"</span>: {</div>  
      <div class="tab-2"><span class="key">"message"</span>: <span class="boolean">false</span>,</div>
      <div class="tab-2"><span class="key">"time"</span>: <span class="value">"1686199584568"</span></div>
      <div class="tab-1">},</div>
      <div class="tab-1"><span class="key">"qos"</span>: <span class="boolean">0</span>,</div>
      <div class="tab-1"><span class="key">"retain"</span>: <span class="boolean">true</span>,</div>
      <div class="tab-1"><span class="key">"_msgid"</span>: <span class="value">"dadasdiudb98eg217bd128meuid"</span>,</div>
      <div class="tab-1"><span class="key">"_id"</span>: <span class="value">"64815e63e41b619a5bf6d014"</span>,</div>
      <div class="tab-1"><span class="key">"__v"</span>: <span class="boolean">0</span></div>
      <div>}</div>
    </div>
  </article>

  <h3>Velocidade</h3><!-- VELOCIDADE -->
  <article>
    <h4>Obter publicações no tópico Velocidade</h4>
    <p>Método: <strong class="get">GET</strong></p>
    <p>URL: <strong class="url">/api/pubs/speed</strong></p>
    <p>Body: <em>Vazio.</em></p>
    <p>Resposta: <em>Um vetor com as publicações no tópico.</em></p>
    <div class="code">
      <div>[</div>
      <div class="tab-1">{</div>
      <div class="tab-2"><span class="key">"topic"</span>: <span class="value">"/motor/speed"</span>,</div>
      <div class="tab-2"><span class="key">"payload"</span>: {</div>  
      <div class="tab-3"><span class="key">"message"</span>: <span class="boolean">75</span>,</div>
      <div class="tab-3"><span class="key">"time"</span>: <span class="value">"1686199584568"</span></div>
      <div class="tab-2">},</div>
      <div class="tab-2"><span class="key">"qos"</span>: <span class="boolean">0</span>,</div>
      <div class="tab-2"><span class="key">"retain"</span>: <span class="boolean">true</span>,</div>
      <div class="tab-2"><span class="key">"_msgid"</span>: <span class="value">"dadasdiudb98eg217bd128meuid"</span></div>
      <div class="tab-1">},</div>
      <div class="tab-1"><span class="muted">...</span></div>
      <div>]</div>
    </div>
  </article>
  <article>
    <h4>Criar nova uma publicação no tópico Velocidade</h4>
    <p>Método: <strong class="post">POST</strong></p>
    <p>URL: <strong class="url">/api/pubs/speed</strong></p>
    <p>Body: <em>É necessário passar um objeto (JSON) contendo a publicação como no exemplo a seguir.</em></p>
    <div class="code">
      <div>{</div>
      <div class="tab-1"><span class="key">"topic"</span>: <span class="value">"/motor/speed"</span>,</div>
      <div class="tab-1"><span class="key">"payload"</span>: {</div>  
      <div class="tab-2"><span class="key">"message"</span>: <span class="boolean">75</span>,</div>
      <div class="tab-2"><span class="key">"time"</span>: <span class="value">"1686199584568"</span></div>
      <div class="tab-1">},</div>
      <div class="tab-1"><span class="key">"qos"</span>: <span class="boolean">0</span>,</div>
      <div class="tab-1"><span class="key">"retain"</span>: <span class="boolean">true</span>,</div>
      <div class="tab-1"><span class="key">"_msgid"</span>: <span class="value">"dadasdiudb98eg217bd128meuid"</span></div>
      <div>}</div>
    </div>
    <p>Resposta: <em>Como confirmação a API retornará o objeto salvo com adição dos campos <span class="mono">"_id"</span> e <span class="mono">"__v"</span>, adicionados pelo MongoDB.</em></p>
    <div class="code">
      <div>{</div>
      <div class="tab-1"><span class="key">"topic"</span>: <span class="value">"/motor/speed"</span>,</div>
      <div class="tab-1"><span class="key">"payload"</span>: {</div>  
      <div class="tab-2"><span class="key">"message"</span>: <span class="boolean">75</span>,</div>
      <div class="tab-2"><span class="key">"time"</span>: <span class="value">"1686199584568"</span></div>
      <div class="tab-1">},</div>
      <div class="tab-1"><span class="key">"qos"</span>: <span class="boolean">0</span>,</div>
      <div class="tab-1"><span class="key">"retain"</span>: <span class="boolean">true</span>,</div>
      <div class="tab-1"><span class="key">"_msgid"</span>: <span class="value">"dadasdiudb98eg217bd128meuid"</span>,</div>
      <div class="tab-1"><span class="key">"_id"</span>: <span class="value">"64815e63e41b619a5bf6d014"</span>,</div>
      <div class="tab-1"><span class="key">"__v"</span>: <span class="boolean">0</span></div>
      <div>}</div>
    </div>
  </article>
</body>
</html>